@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Graduate', cursive;
    background: orange;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-size: 24px;
}

.btns {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
}

.btns:hover {
    background: white;
    color: black;
}

#clock {
    font-size: 56px;
}
